fastapi
langchain
dotenv
chromadb
sentence_transformers
sqlalchemy
supabase
psycopg2
boto3
python-multipart
langchain-openai
pytest
pytest-asyncio
pypdf 
python-docx 
pandas 
openpyxl 
python-pptx 
tiktoken